.Filter {
  box-sizing: border-box;
  & > ul {
    font-size: 13px;
    list-style: none;
    padding: 16px 36px 16px 16px;
    span {
      font-weight: bold;
      font-size: 12px;
    }
    li {
      margin-top: 24px;
      label {
        vertical-align: middle;
        cursor: pointer;
        padding-left: 2.5em;
        input {
          appearance: none;
          position: absolute;
          &:checked + span {
            background-image: url(../../media/checkbox-on.png);
          }
        }
        span {
          position: absolute;
          margin-left: -2.5em;
          width: 26px;
          height: 26px;
          background-image: url(../../media/checkbox-off.png);
        }
      }
    }
  }
}
